extends _layout.pug

block header 
	header.header.main-page__header
		.container
			a(href='/').logo__link
				img(src='img/logo.white.svg')
			menu.header__menu
				-var list = ['Главная','О компании','прайс','услуги','наши работы','Новости','контакты']
				each item in list 
					li.menu__item
						a.menu__link(href='#')=item
				li.menu__item.menu__tel
					a.menu__tel-link(href='tel:+78129214449') 
						span +7 (812) 
						span.accent 921‑44-49
					a.menu__call-request(href='#') Заказать звонок!
block main
	section.main__slider.owl-carousel
		each item in [1,2]
			.main__slider-item(style='background-image: url(img/main_slider.jpg)')
				.container
					.main__slider-content
						h3.main__slide-title Качественный ремонт жилых и коммерческих помещений!
						a.main__slide-link(href='#') Подробнее >>
	section.shares-section
		.container
			.shares-wrapper
				.sh-title
					| акции
				.shares-items
					.shares-item
						.sh-img-wrap
							.sh-img
								img(src="img/shares/master.svg", alt="")
						.sh-dscr
							p
								| Выезд мастера 
								span бесплатно
							a(href="#")
								| Подробнее...
					.shares-item
						.sh-img-wrap
							.sh-img
								img(src="img/shares/percent.svg", alt="")
						.sh-dscr
							p
								span скидки
								|  на все виды работ
							a(href="#")
								| Подробнее...
					.shares-item
						.sh-img-wrap
							.sh-img
								img(src="img/shares/plus.svg", alt="")
						.sh-dscr
							p
								span дополнительные  скидки <br>
								| ( сезонные )
							a(href="#")
								| Подробнее...
					.shares-item
						.sh-img-wrap
							.sh-img
								img(src="img/shares/pen.svg", alt="")
						.sh-dscr
							p
								| Составление сметы 
								span бесплатно
							a(href="#")
								| Подробнее...

	section.services-section
		.container
			.services-wrapper
				.serv-title
					| услуги
				.services-items
					.services-item
						.services-content
							.serv-img
								img(src="img/services/serv-1.jpg", alt="")
							.serv-dscr-wrap
								.serv-dscr
									p
										| Ремонт коттеджей
						.serv-dscr-wrap--hidden.u-up
							.serv-dscr--hidden
								p
									| Ремонт коттеджей
								i
									| офисы, бизнесс-центры, рестораны
								a(href="#").btn
									| Подробнее  >>
					.services-item
						.services-content
							.serv-img
								img(src="img/services/serv-2.jpg", alt="")
							.serv-dscr-wrap
								.serv-dscr
									p
										| Ремонт комнатных <br> помещений
						.serv-dscr-wrap--hidden.d-down
							.serv-dscr--hidden
								p
									| Ремонт коттеджей
								i
									| офисы, бизнесс-центры, рестораны
								a(href="#").btn
									| Подробнее  >>
					.services-item
						.services-content
							.serv-img
								img(src="img/services/serv-3.jpg", alt="")
							.serv-dscr-wrap
								.serv-dscr
									p
										| Ремонт фасадов <br> зданий
						.serv-dscr-wrap--hidden.u-up
							.serv-dscr--hidden
								p
									| Ремонт коттеджей
								i
									| офисы, бизнесс-центры, рестораны
								a(href="#").btn
									| Подробнее  >>
					.services-item
						.services-content
							.serv-img
								img(src="img/services/serv-4.jpg", alt="")
							.serv-dscr-wrap
								.serv-dscr
									p
										| Высотные работы
						.serv-dscr-wrap--hidden.d-down
							.serv-dscr--hidden
								p
									| Ремонт коттеджей
								i
									| офисы, бизнесс-центры, рестораны
								a(href="#").btn
									| Подробнее  >>
	section.advantages-section
		.container
			.advantages-wrapper
				.adv-title
					|  преимущества
				.advantages-items
					.advantages-item
						.adv-img-wrap
							.adv-img
								img(src="img/advantages/security.svg", alt="")
						.adv-dscr
							span гарантия  3 года 
							p.
								Предоставляем гарантию на все виды работ в течение 2 лет с момента сдачи.
					.advantages-item
						.adv-img-wrap
							.adv-img
								img(src="img/advantages/purpose.svg", alt="")
						.adv-dscr
							span гарантия  3 года 
							p.
								Предоставляем гарантию на все виды работ в течение 2 лет с момента сдачи.
					.advantages-item
						.adv-img-wrap
							.adv-img
								img(src="img/advantages/spanner.svg", alt="")
						.adv-dscr
							span гарантия  3 года 
							p.
								Предоставляем гарантию на все виды работ в течение 2 лет с момента сдачи.
					.advantages-item
						.adv-img-wrap
							.adv-img
								img(src="img/advantages/quality.svg", alt="")
						.adv-dscr
							span гарантия  3 года 
							p.
								Предоставляем гарантию на все виды работ в течение 2 лет с момента сдачи.
					.advantages-item
						.adv-img-wrap
							.adv-img
								img(src="img/advantages/master.svg", alt="")
						.adv-dscr
							span гарантия  3 года 
							p.
								Предоставляем гарантию на все виды работ в течение 2 лет с момента сдачи.
	section.about-section
		.container
			.about-container
				.about-dscr
					span О нас
					p.
						Мы профессионально решаем задачи клиентов в области обустройства интерьеров. Предлагаем комплексные решения, предоставляя клиенту возможность заниматься своим делом и быть уверенным в результате.
	section.feedback-section
		.container
			.feedback-container.clearfix
				.feedback-dscr.fl-l
					span
						| оставьте заявку
					p.
						И мы рассчитаем стоимость и сроки выполнения <br> ремонтно-отделочных работ совершенно <br> бесплатно
				.feedback-form-wrapper.fl-r
					form(action="/").f-form
						span.f-title Телефон
						label.l-phone(for="phone")
							input.i-phone(type="text" placeholder="Ваш телефон")
						button(type="submit").b-submit оставить заявку
	section.portfolio-gallery
		.container 
			h2.section-title ГАЛЕРЕЯ РАБОТ
			.portfolio-gallery__slider-wrap
				.portfolio-gallery__slider.owl-carousel
					each item in [['img/slider/gallery/work-gallery_1.jpg','Магазин «Vinotti» в МК «Интерио»'],['img/slider/gallery/work-gallery_2.jpg','Магазин «Леонардо» в ТК «Гуливер»'],['img/slider/gallery/work-gallery_3.jpg','Магазин «Леонардо» в ТРК «Европолис»'],['img/slider/gallery/work-gallery_3.jpg','Магазин «Леонардо» в ТРК «Европолис»']]
						a.work-slide(href='#')
							.work-image__wrap
								img(src=item[0])
							p.work__title=item[1]
	section.clients
		.container 
			h2.section-title НАШИ КЛИЕНТЫ
			.clients__slider-wrap
				.clients__slider.owl-carousel
					each item in [['img/slider/clients/ikea.png','IKEA'],['img/slider/clients/gallery.png','Галлерея'],['img/slider/clients/sberbank.png','СберБанк России'],['img/slider/clients/tinkoff.png','Tinkoff'],['img/slider/clients/vtb24.png','ВТБ24'],['img/slider/clients/vtb24.png','ВТБ24']]
						a.clients-slide(href='#')
							.clients-image__wrap
								img(src=item[0] alt=item[1])
	section.reviews
		.container 
			h2.section-title ОТЗЫВЫ
			.reviews__slider-wrap
				.reviews__slider.owl-carousel
					each item in [['img/slider/reviews/author1.jpg','Анастасия Смольная','директор вет. лабаратории','Мы довольны работой, все очень аккуратно, качественно и быстро.  По ходу выполнения строительных работ можно обратиться к дизайнеру для уточнения или корректировок. Очень ответственно отнеслись к поставленной задаче. Большое спасибо!'],['img/slider/reviews/author2.jpg','Александр Микулин','директор вет. лабаратории','Мы остались довольны проделанной работой, все очень аккуратно, качественно и быстро. Ответственное отношение, все сроки соблюдены.  По ходу выполнения строительных работ можно обратиться к дизайнеру для уточнения или корректировок. Очень полезная для нас оказалась вещь. Очень много плюсов. Остались довольны. Большое спасибо!'],['img/slider/reviews/author3.jpg','Наталья Давыдова','директор вет. лабаратории','Мы довольны работой, все очень аккуратно, качественно и быстро.  По ходу выполнения строительных работ можно обратиться к дизайнеру для уточнения или корректировок.  Cпасибо за хорошо проделанную работу! Осталось довольна!'],['img/slider/reviews/author3.jpg','Наталья Давыдова','директор вет. лабаратории','Мы довольны работой, все очень аккуратно, качественно и быстро.  По ходу выполнения строительных работ можно обратиться к дизайнеру для уточнения или корректировок.  Cпасибо за хорошо проделанную работу! Осталось довольна!']]
						.review-slide
							.review-slide__block
								.review-author__wrap
									.review-author__img-wrap
										img(src=item[0] alt=item[1])
									.review-author
										p.name=item[1]
										p.position=item[2]
								.review__text=item[3]
	section.find-us
		.container 
			h2.section-title как нас найти
		.find-us__wrapper
			.find-us__map#find-us__map
			.container 
				.find-us__block 
					p.block-title Офис
					.block-inner
						p.line.metro м. Крестовский остров
						p.line.metro м. Старая Деревня
						p.line.metro м. Черная речка
						p.line.adress Липовая аллея, 9, лит. А
						a.line.tel(href='tel:78129214449') +7 812 921‑44-49
						p.line.work-time С 9:00 до 20:00 без выходных
					a.directions(href='#') схема проезда к офису
	section.skn-form__section
		.container 
			h2.skn-form__title Узнай о ремонте СКН
			form.skn-form
				p.skn-form__text Оставьте вашу заявку здесь и мы ответим на все ваши вопросы!
				.fields
					.inputs__wrap
						label
							span.text Телефон
							input.field(type='text' placeholder='Ваш телефон')
						label
							span.text Имя
							input.field(type='text' placeholder='Ваше имя')
					label
						span.text Напишите свой вопрос здесь
						textarea.field(type='text' placeholder='Ваше сообщение')
				button(type='submit').submit ОСТАВИТЬ ЗАЯВКУ
